.Chat-main
  .Main-header
    .Group-info
      .Group-info__name
        = @group.name
      .Group-info__member
        Member : 
        - @member.each do |member|
          = member.name
    .Group-edit
      = link_to edit_group_path(@group), class:"Group-edit__btn" do
        Edit
  .Message-list
    = render @messages

  .Main-footer
    = form_with model: [@group, @message], html: {class: "Message-form"}, local: true do |f|
      .Message-form__field
        = f.text_field :body, class: "Message-form__field__text", placeholder: "type a text"
        = f.label :image, class: "Message-form__field__image" do
          = icon('far', 'image', class: "Message-form__icon")
          = f.file_field :image, class: "Hidden"
      = f.submit "Send", class: "Message-form__btn"