.Side-bar
  .Side-header
    .User-info
      .User-info__name
        = current_user.name
      .User-info__icon
        = link_to new_group_path, class:"User-info__icon__btn" do
          = icon('far', 'edit' )
          %span.txtred<>
        = link_to edit_user_path(current_user), class:"User-info__icon__btn" do
          = icon('fas', 'cog' )
  .Group-list
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group), class: "link" do
          .Group__name
            = group.name
          .Group__last-message
            = group.show_last_message